<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Page</title>
</head>
<body>
 <h1 align="center">REPORT PAGE</h1>

 <ul type="square">
     <li>BAŞAK ABAK<br/>NO: 140709024</li>
     <li>I did all requirements</li>
 </ul>
<p>For extra points: </p>
 <ul type="square">
     <li>I reorganize the <a href="/original_template/">template </a></li>
     <li>In my project I have 7 models which are<br/>
         <ul>
             <li><a href="/players/">Player</a></li>
             <li><a href="/matches/">Match</a></li>
             <li><a href="/about/">Team</a></li>
             <li><a href="/gallery/">Player Gallery</a></li>
             <li><a href="/buy_ticket/2/">Ticket</a></li>
             <li><a href="/user_page/4/">User</a></li>
             <li><a href="/player/james-harden/7/">Comment</a></li>
         </ul>
     <li>In my project I have 2 form models which are</li>
         <ul>
             <li><a href="/buy_ticket/2/">Ticket</a></li>
             <li><a href="/player/james-harden/7/">Comment</a></li>
         </ul>
     <li>For <a href="/stats/">Stat table</a> items I add them from admin page</li>
     <li>I add a <a href="/filter/">filter page</a> that user can filter the matches according to arena and name.</li>
 </ul>
</body>
</html>
